<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"> 
<Console> <Console name="Console" target="SYSTEM_OUT"> 
	<PatternLayout pattern ="%d{HH: mm: ss. SSS} %-51evel - %msg%n"/>
	</Console>
	 <File name="File" fileName="C: \Users\Premkumar.r\Downloads \New folder\10g4.10g" append="true"> 
	 <PatternLayout> 
	 	<Pattern>%d{HH: mm: ss. SSS} [%t] %-51evel - %msg%n</Pattern>
	 	 </PatternLayout>
	 	  </File> 
	 </Console> 
	 	<Loggers> 	
	 		<Logger name="com.sdetadda" level="info" additivity="true"> 
	 			<AppenderRef ref="Console"/>
	 		 </Logger>
	 		  <Root level="info"> 
	 		  	<AppenderRef ref="File"/>
	 		  </Root> 
	 </Loggers> 
</Configuration>